
body {
 background-size: none;
 
}

/**Page Container**/

.Container0{
    margin: 0;
    align-content: stretch;
    flex-wrap: nowrap;

}

.displaybox{
    margin: 0;
    background-color: silver;
    display: flex;
    flex-flow: wrap;

}

.navbar{
    margin: 0;
}



.displaybox .col-1{
    margin: 0;
    flex-direction: row;
    align-items: flex-start;
}

.displaybox .col-2{
    margin: 0;
    flex-direction: row;
   
}




.Container1{
    display: flexbox;


}

#info-toolbar{
    flex-direction: row;
    position: fixed;
    align-items: flex-end;

}

/**NavBar**/

@import "compass/css3";

.navbar-nav{
    list-style: none; 
    position: static;
    margin: 0;

    background: coral;
    box-sizing: border-box;
    touch-action: none;
    display: flex;
 /* Large screens */
    flex-flow: row nowrap;
    justify-content: flex-end; /* This aligns items to the end line on main-axis */
}
.navbar-nav a{
    text-decoration: none;
    display: block;
    padding: 0em;
    color:black;
    text-align: center; 
    padding: 5px;
    border: 1px 1px 1px solid rgba(255,255,255,0.3); 

}

.navbar-nav a:hover{
    background: silver;
}

.navbar-nav li:last-of-type a {
    border-bottom: black;
  }

  
  /* Medium screens */
 @media all and (max-width: 800px) {
    .navbar-nav{
      justify-content: space-around;    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    }
  }
  
  /* Small screens */
  @media all and (max-width: 500px) {
    .navbar-nav{
      flex-direction: column;   /* On small screens, we are no longer using row direction but column */
    }



/**carousel-inner**/

.carousel-inner{

    align-content: stretch;
    position: absolute;
    
}

.carousel-item{
    image-resolution: absolute;
    padding-bottom: 100px;
}


/** mega menu css **/

.mega-menu1{
    width: 800px;
    overflow: hidden;
    padding: 10px;
}

.mega-menu1 a{
    text-decoration: none;
    color: black;
    font-style: italic;
}

.mega-menu2{
    width: 500px;
    overflow: hidden;
    padding: 10px;
}

.mega-menu2 a{
    text-decoration: none;
    color: black;
    font-style: italic;
}

/** pagecontainer css**/

.PageContainer{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /**background-image: url("CakesWeb/2wed.jpg");**/
    background-size: cover;

}

  }



  